body{
  background-color: antiquewhite;
  font-family: cursive;
}
img{
  width: 200px;
  border: 3px;
  border-color: red;
  border-style: solid;
  border-radius: 20px;
}
h1{
  text-shadow: 3px 3px darkgray;
  color: black;
  text-align: center;
}
hr{
  width: 90%;
  color: black; 
}
.li{
  color: darkgray;
}
